*{
  box-sizing: border-box;
  margin: 0%;

}

.light{
     .background{
          margin: 0%;
            background-image: url(./assets/images/LightBg.png);
          }      

        .webdetails{
          color: rgb(27, 26, 26);
        }
        .home-discription{
          color: rgb(16, 16, 16);
        
        }
        
        .main{
          background-color: rgba(37, 37, 40, 0.775);
          color: rgb(255, 255, 255);
          border:1px solid rgb(16, 16, 15);  
          

      }
      .AllTickets{
        background-color: #cad0e1df;
        color: rgb(17, 16, 16);
      }

      th {
        background-color: #33d386bc;
      }

      }
.dark{
    margin: 0px;
  .background{
    margin: 0%;
    background-image: url(./assets/images/5297078.jpg);
  
  }
  .box{
    background-color: rgba(255, 255, 255, 0.208);
    background-color: rgba(71, 67, 67, 0.392);
    backdrop-filter: blur(15px);
   
  }
 
  .webdetails p{
    color: rgb(241, 233, 233);

  }
  

    .main{
      background-color: rgba(60, 60, 67, 0.284);
      color: antiquewhite;
      border:1px solid wheat;     

}
.AllTickets{
  background-color: #201f32df;
  color: white;
}

th {
  background-color: #0fd37468;

}


}

table{
  margin: auto;
  width:98%;
  
}

th {
  text-align: center;

  height: 40px;
  border-radius: 0.5em;
}
td{
  text-align: center;
  height: 40px;
  overflow: hidden;
  background-color: rgba(87, 69, 104, 0.475);
  border-radius: 0.5em;
}


.background{
padding: 0%;
  min-height: 93vh;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.webdetails{
  display:  flex;
  align-items: center;
  padding: 10%;
}

.box{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,auto));
  border-radius: .5em;
  min-height: 80vh;
  width: 100%;
 
}


.home-big-para{
  font-size: 120%;
  font-weight: bolder;

}
.home-discription{
  font-size: 100%;
}
.home-start-btn{
  max-width: 200px;
  margin: 3%;
}
.Header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: rgb(17, 166, 166);
  background-color: rgb(90, 95, 191);
 position: sticky;
  top: 0%;
  z-index:100;
}



.main{
  max-width: 400px;
  margin: auto;
  padding: 1%;
  text-align: center;
  border-radius: .5em;  
  backdrop-filter: blur(5px);
}



.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;  
  background-color: #554b4bc1;  
  overflow: auto;
  z-index: 100;
}

@media screen and (max-width: 600px){
          .logout{
          padding: 10px 10px;
          font-size: 0px;
          background-color: #0fd37468;
        }
        .content{
          margin: 0px;
        }
          .newticket{
            width: 95%;
          }
              .navbar{
              width: 100%;
              display: flex;
              }
              .nav-icon{
                width: 20px;
              }
              .navbar li{
              display: flex;
              
              }
              .navbar li a{
                font-size: 0px;
                display: block;
                color: #ffffff;
                background-color: #000000df;
                border: .5px solid wheat;
                padding: 10px 10px;
                text-decoration: none;
              }
              .AllTickets{
              
                width:100% ;
                margin: auto;
                border-radius: .5em;
                min-height: 600px;
              
              }
              table{
              font-size: 10px;
                width:98%;
                
              }
              table  button{
                font-size: 8px;
              }
              
}


@media screen and (min-width: 601px) and (max-width: 900px)
{
  .newticket{
    width: 95%;
  }
  .navbar{
    width: 100%;
    height: auto;
  
    }
    .nav-icon{
      width: 15px;
    }
 
    .navbar li a{
      font-size: small;
      display: block;
      color: #ffffff;
      background-color: #000000df;
      border: .5px solid wheat;
      padding: 8px 10px;
      text-decoration: none;
    }
    .AllTickets{
              
      width:100% ;
      border-radius: .5em;
      min-height: 600px;
    
    }



}

@media screen and (min-width: 901px){
            .newticket{
              width: 50%;
            }

              .navbar{
                position: fixed;
                width: 15%;
                height: 816px;
              }
              .navbar li a{
                display: block;
                color: #ffffff;
                background-color: #000000df;
                border: .5px solid wheat;
                padding: 10px 20px;
                text-decoration: none;
              }
              .nav-icon{
                width: 22px;
              }
              .webdetails{
                padding: 10%;
              }
              .box{
                margin-left: 16%;
              }
              .content{
                min-height: 93vh;
                display: flex;
                padding: 2%;
                align-items: center;
                margin: 0px;
              }
                  

              .logout{
                display: block;
                padding: 10px 20px;
                text-decoration: none;
                position: fixed;
                bottom: 0;
                width: 15%;
              }
                            
              .AllTickets{
              
                width:65% ;
                margin-left: 16%;
                border-radius: .5em;
                min-height: 600px;
              
              }

}


.logout{
  color: #ffffff;
  background-color: #000000df;
  border: .5px solid wheat;
  text-decoration: none;


}
.logout :hover{
  background-color: #2ac132;
  color: white;

}
li a:hover{
  background-color: #2ac132;
  color: white;
}
li a.active {
  background-color: #04AA6D;
  color: white;
}

.Register{
  display:  flex;
  background-color: aqua;
  flex-direction: column;
}




button{
    width: 90%;
    height: 40px;
    color: rgb(251, 247, 255);
    background-color: rgba(24, 24, 199, 0.677);
    border-radius: 1em;
    border: 2px solid rgba(91, 148, 67, 0.788);
    cursor: pointer;
}



.userhome{
   width: 60%;
margin-left: 18%;
   height: 700px;
   background-image: url(./assets/supportdeskimg.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: .5;
   border: .1px solid white;
   border: .1px solid white;
   
   border: .1px solid white; 
   
}
.webtitle{
  color: aliceblue;
  padding: 3%;
}
.webtitle p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.sno{
  width: 60px;
  max-width: 60px;
  overflow: hidden;
}
.ticketid{
  width: 120px;
  max-width: 120px;
  overflow:hidden;
}
.ticketdate{
  width: 150px;
  max-width: 150px;
  overflow: hidden;
}
.subject{
  max-width: 350px;
  max-width: 350px;
  overflow: hidden;
}
.other{
  width: 130px;
  max-width: 130px;
  overflow: hidden;
}

.ticket{
  display: flex;
  flex-direction: column;
  padding: 1%;
  color: antiquewhite;
  border-radius: .5em;


 
}
.ticket input{
  width:95%;
  margin: auto;

  height: 40px;
   
}
.newticket label {
  padding: 2%;
}

.ticket textarea{
  width: 95%;
  margin: auto;
  
  min-height:100px ;
}
.Themebox{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 50px;
  border-top-left-radius: .5em;
  right: 0;
  height: 40px;
  z-index: 100;
  background-color: #515c51a5;


}

.themebtn{

  height: 30px;
  bottom: 20px;
  width: 30px;
  cursor: pointer;
}
